
<div class="row card hide-on-small-only">
  <div class="col s12">
    <div class="inline titleView">
      <h2># {{membres.length}} Membres</h2>
    </div>
    <div class="inline">
            <div class="input-field valign-wrapper paddingLeft20 paddingRight20">
                <i class="material-icons blue-text text-darken-4 prefix valign pointer" ng-click="searchOpen()">search</i>
                <input id="icon_prefix" type="text" placeholder="Recherche" class="validate" ng-model='search'>
            </div>
    </div>
  </div>
</div>
<!-- <p>
    <span class="title">Membres <button ng-click="showSide()" type="button" name="button" class="btn btn-default blue darken-4 addbutton"> + </button></span>
</p> -->
<ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">add</i>Ajouter un membre</div>
      <div class="collapsible-body">
        <form name="member">
            <div class="row">
                <div class="input-field col s6">
                    <input id="nom" type="text" class="validate" ng-model='data.nom'>
                    <label for="nom">Nom</label>
                </div>
                <div class="input-field col s6">
                    <input id="prenom" type="text" class="validate" ng-model='data.prenom'>
                    <label for="prenom">Prénom</label>
                </div>
                <div class="input-field col s6">
                    <input id="tel" type="text" class="validate" ng-model='data.tel'>
                    <label for="tel">Téléphone</label>
                </div>
                <div class="input-field col s6">
                    <input id="email" type="email" class="validate" ng-model='data.email'>
                    <label for="email">Email</label>
                </div>
                <div class="col s12">
                    <button type="submit" class="btn btn-default blue darken-4 left" ng-click="add()">Ajouter</button>
                </div>
            </div>
        </form>
      </div>
    </li>
</ul>
<div class="row card hide-on-med-and-up">
  <div class="input-field paddingLeft20 paddingRight20">
      <i class="material-icons blue-text text-darken-4 prefix valign pointer" style="margin-top: 15px;">search</i>
      <input type="text" placeholder="Recherche" class="validate marginBot10" ng-model='search'>
  </div>
</div>
<div class="row">
  <div class="col s12 card">
    <div class="repeatUsers">
      <table class="striped">
          <thead>
              <tr>
                  <th data-field="id">N°</th>
                  <th data-field="nom">Nom</th>
                  <th data-field="prenom">Prénom</th>
                  <th data-field="tel">Téléphone</th>
                  <th data-field="email">Email</th>
                  <th></th>
                  <th ng-if="isAdmin"><button ng-click="" ng-csv="membres" csv-header="['iD', 'Nom', 'Prénom', 'Téléphone', 'Email']" filename="test.csv" type="button" name="button" class="btn btn-default blue darken-4 right hide-on-small-only"> Exporter CSV </button></th>
              </tr>
          </thead>

          <tbody>
              <tr ng-repeat="membre in membres | filter : search" ng-controller="membersEditController">
                  <td>{{'#'+($index+1)}}</td>
                  <td><span ng-if='show'>{{::membre.nom}}</span> <span ng-if='!show'><input type="text" class="validate" ng-model='oldMember.nom'></span></td>
                  <td><span ng-if='show'>{{::membre.prenom}}</span> <span ng-if='!show'><input type="text" class="validate" ng-model='oldMember.prenom'></span></td>
                  <td><span ng-if='show'>{{::membre.tel}}</span> <span ng-if='!show'><input type="tel" class="validate" ng-model='oldMember.tel'></span></td>
                  <td><span ng-if='show'>{{::membre.email}}</span> <span ng-if='!show'><input type="email" class="validate" ng-model='oldMember.email'></span></td>
                  <td>
                      <span ng-if="show"><span class="right pointer underline" style="margin-right: 15px;" ng-click="delete(membre)">Supprimer</span></span>
                      <span ng-if="!show"><span class="right pointer underline" style="margin-right: 15px;" ng-click="toggle()">Annuler</span></span>
                  </td>
                  <td>
                      <span ng-if="show"><span class="right pointer underline" style="margin-right: 15px;" ng-click="toggle(membre)">Modifier</span></span>
                      <span ng-if="!show"><span class="right pointer underline" style="margin-right: 15px;" ng-click="update(oldMember)">Enregistrer</span></span>
                  </td>
              </tr>
          </tbody>
      </table>
    </div>
  </div>
</div>
<div class="paddingBot30 hide-on-med-and-up"></div>
